VDAC + Combinazione scambio primari
<"V",2693,0,1>

Definizioni correnti utilizzate nel file
<"I","B","Mo","G",145,2282,0.42>
<"I","C","Mo","P",50,2143,0.175>

Corrente dedicata alla Tomografia
<"T","Mo",160,2360,0.382>
Definizioni Intervalli Fuoco Grande
<"M","Mo","G",0,6400,"B">

Definizioni Intervalli Fuoco Piccolo
<"M","Mo","P",0,2200,"C">

Definizioni Intervalli Starter
<"S","Mo","G",0,6400>

