VDAC + Combinazione scambio primari
<"V",3858,0,0>

Definizioni correnti utilizzate nel file
<"I","A","W","G",80,2133,0.451>
<"I","B","W","P",42,2057,0.31>

Corrente dedicata alla Tomografia
<"T","W",140,2238,0.683>
Definizioni Intervalli Fuoco Grande
<"M","W","G",0,3600,"A">

Definizioni Intervalli Fuoco Piccolo
<"M","W","P",0,1800,"B">

Definizioni Intervalli Starter
<"S","W","G",0,3600>

