VDAC + Combinazione scambio primari
<"V",2321,1,0>

Definizioni correnti utilizzate nel file
<"I","A","Mo","G",105,2221,0.389>
<"I","B","Mo","P",40,2106,0.156>

Corrente dedicata alla Tomografia
<"T","Mo",130,2317,0.343>
Definizioni Intervalli Fuoco Grande
<"M","Mo","G",0,4500,"A">

Definizioni Intervalli Fuoco Piccolo
<"M","Mo","P",0,1800,"B">

Definizioni Intervalli Starter
<"S","Mo","G",0,4500>

