<ACRT,135>  //  Angolo critico
<RLAT,-90>  //  Angolo RLAT
<ROBL,-45>  //  Angolo ROBL
<LLAT,90>  //  Angolo LLAT
<LOBL,45>  //  Angolo LOBL
<BLOW,2>   // Angolo di avvicinamento
<BPOS,15>  //  Angolo BIOP POS
<TMOB,128>  //  Timeout BIOP
<STRB,255>  //  TSTART BIOP
<RUNB,30>  //  TRUN BIOP
<SLWB,200>  //  TSLOW BIOP
<PWMB,12>  //  PWM MOTOR BIOP
<OBTB,0>  //   OBST DELTA TUBE
<OBAB,255>  //   OBST DELTA ARM

<THOME_W,805>  //   POSIZIONE WIDE HOME (18° + anticipo)
<TEND_W,24>  //   POSIZIONE WIDE END
<TMO_W,255>  //   TIMEOUT WIDE 
<TSH_W,255>  //  TSTART WIDE to HOME
<TRH_W,30>  //  TRUN WIDE to HOME
<TSLH_W,200>  //  TSLOW WIDE to HOME
<PWMH_W,12>  //  PWM MOTOR WIDE TO HOME
<TSE_W,100>  //  TSTART WIDE  TO END TOMO
<TRE_W,35>  //  TRUN WIDE TO END (2°/0.45s)
<TSLE_W,100>  //  TSLOW WIDE TO END
<PWME_W,8>  //  PWM WIDE TO END
<OBT_W,0>  //  OBST DTRX WIDE TO END
<OBA_W,255>  //  OBST DARM WIDE TO END

<THOME_I,565>  //   POSIZIONE INTERMEDIATE HOME (12° + anticipo)
<TEND_I,20>  //   POSIZIONE INTERMEDIATE END
<TMO_I,255>  //   TIMEOUT INTERMEDIATE 
<TSH_I,255>  //  TSTART INTERMEDIATE to HOME
<TRH_I,30>  //  TRUN INTERMEDIATE to HOME
<TSLH_I,200>  //  TSLOW INTERMEDIATE to HOME
<PWMH_I,12>  //  PWM MOTOR INTERMEDIATE TO HOME
<TSE_I,100>  //  TSTART INTERMEDIATE  TO END TOMO
<TRE_I,35>  //  TRUN INTERMEDIATE TO END (2°/0.45s)
<TSLE_I,100>  //  TSLOW INTERMEDIATE TO END
<PWME_I,8>  //  PWM INTERMEDIATE TO END
<OBT_I,0>  //  OBST DTRX INTERMEDIATE TO END
<OBA_I,255>  //  OBST DARM INTERMEDIATE TO END

<THOME_N,360>  //   POSIZIONE NARROW HOME 7.5° + anticipo
<TEND_N,15>  //   POSIZIONE NARROW END
<TMO_N,255>  //   TIMEOUT NARROW 
<TSH_N,255>  //  TSTART NARROW to HOME
<TRH_N,30>  //  TRUN NARROW to HOME
<TSLH_N,200>  //  TSLOW NARROW to HOME
<PWMH_N,12>  //  PWM MOTOR NARROW TO HOME
<TSE_N,80>  //  TSTART NARROW  TO END TOMO
<TRE_N,59>  //  TRUN NARROW TO END (1.5°/0.45s)
<TSLE_N,80>  //  TSLOW NARROW TO END
<PWME_N,10>  //  PWM NARROW TO END
<OBT_N,0>  //  OBST DTRX NARROW TO END
<OBA_N,255>  //  OBST DARM NARROW TO END
