VDAC + Combinazione scambio primari
<"V",3395,0,1>

Definizioni correnti utilizzate nel file
<"I","A","W","G",80,2139,0.445>
<"I","B","W","P",50,2092,0.27>

Corrente dedicata alla Tomografia
<"T","W",160,2282,0.672>

Definizioni Intervalli Fuoco Grande
<"M","W","G",0,3600,"A">

Definizioni Intervalli Fuoco Piccolo
<"M","W","P",0,2200,"B">

Definizioni Intervalli Starter
<"S","W","G",0,3600>

