VDAC + Combinazione scambio primari
<"V",2854,0,1>

Definizioni correnti utilizzate nel file
<"I","A","W","G",100,2195,0.503>
<"I","B","W","P",60,2148,0.243>

Corrente dedicata alla Tomografia
<"T","W",190,2345,0.7>
Definizioni Intervalli Fuoco Grande
<"M","W","G",0,4500,"A">

Definizioni Intervalli Fuoco Piccolo
<"M","W","P",0,2500,"B">

Definizioni Intervalli Starter
<"S","W","G",0,4500>

