<HOME_W,2000>  
<END_W,-2000>   
<SPEED_W,600>   
<ACC_W,900>   
<DEC_W,900>   
<SMP_W,19>   
<PRESMP_W,2>  
<SKSMP_W,0> 

<HOME_I,1400>  
<END_I,-1400>   
<SPEED_I,600>   
<ACC_I,900>   
<DEC_I,900>   
<SMP_I,13>   
<PRESMP_I,2>   
<SKSMP_I,0> 

<HOME_N,900>  
<END_N,-900>   
<SPEED_N,450>   
<ACC_N,675>   
<DEC_N,675>   
<SMP_N,11>   
<PRESMP_N,2>   
<SKSMP_N,0> 
