<HOME_W,2000>  
<END_W,-2000>   
<SPEED_W,800>   
<ACC_W,1600>   
<DEC_W,1600>   
<SMP_W,19>   
<PRESMP_W,2>   
<SKSMP_W,0>   

<HOME_I,1400>  
<END_I,-1400>   
<SPEED_I,800>   
<ACC_I,1600>   
<DEC_I,1600>   
<SMP_I,13>   
<PRESMP_I,2>   
<SKSMP_I,0>   

<HOME_N,900>  
<END_N,-900>   
<SPEED_N,600>   
<ACC_N,1200>   
<DEC_N,1200>   
<SMP_N,11>   
<PRESMP_N,2>   
<SKSMP_N,0>   
