<SBLOCCO_COMPRESSORE,1>    // Impostazione sblocco compressore
<STARTER_OFF,0>    // opzione spegnimento starter dopo esposizione
<STARTER_BRK,0>    // opzione spegnimento starter con frenatura
<STARTER_TIMEOUT,300>  //  Tempo di corsa starter
<ACCESSORIO_PAZIENTE,0>    // opzione verifica accessorio di protezione
<ACCESSORIO_PAZIENTE_COMBO,1>    // opzione verifica accessorio su Combo
<ACCESSORIO_PAZIENTE_2D,1>    // opzione verifica accessorio su esposizione 2D
<ACCESSORIO_PAZIENTE_3D,1>    // opzione verifica accessorio su esposizione 3D
<ACCESSORIO_PAZIENTE_PB,1>    // opzione verifica accessorio piombo
<PCB190_GNDTEST_ENABLE,1>    // opzione verifica accessorio di protezione
<PCB190_ITEST,30>  //  I test PCB190
<PCB190_IFIL,2020>  //  I filamento di riscaldamento
<PCB190_MAS_ENA,1>    // Abilitazione monitoraggio mAsmetro
<PCB190_IFIL_ENA,1>    //  Abilitazione monitoraggio corrente di filamento
<PCB190_HV,1>    //  Abilitazione monitoraggio livelli HV
<TEMPCUFFIA_ON,52>  //  Temperatura allarme cuffia
<TEMPCUFFIA_OFF,45>  //  Temperatura allarme cuffia reset
<DEMO,0>    //  Attivazione/Disattivazione modalit√  demo
<DEAD_MAN,0>    //  Attivazione/Disattivazione dead-man
<ROT_LIMIT,0>    //  Attivazione limitazione generale rotazione
<TUBE,TEMPLATE_XM1016THI>          //  XRAY-Tube Model
<LANGUAGE,ENG>  //  Linguaggio interfaccia
<SN,>  		//  Seriale macchina
<PASSWD,271070>
