<HOME_W,2608>  
<END_W,-2608>   
<SPEED_W,435>   
<ACC_W,869>   
<DEC_W,869>   
<SMP_W,24>   
<PRESMP_W,1>  
<SKSMP_W,0> 

<HOME_I,1300>  
<END_I,-1300>   
<SPEED_I,400>   
<ACC_I,800>   
<DEC_I,800>   
<SMP_I,13>   
<PRESMP_I,1>   
<SKSMP_I,0> 

<HOME_N,825>  
<END_N,-825>   
<SPEED_N,300>   
<ACC_N,600>   
<DEC_N,600>   
<SMP_N,11>   
<PRESMP_N,1>   
<SKSMP_N,0> 
