<HOME_W,2550>  
<END_W,-2550>   
<SPEED_W,675>   
<ACC_W,900>   
<DEC_W,900>   
<SMP_W,24>   
<PRESMP_W,1>   
<SKSMP_W,0>   

<HOME_I,1500>  
<END_I,-1500>   
<SPEED_I,600>   
<ACC_I,600>   
<DEC_I,600>   
<SMP_I,13>   
<PRESMP_I,3>   
<SKSMP_I,0>   

<HOME_N,975>  
<END_N,-975>   
<SPEED_N,600>   
<ACC_N,800>   
<DEC_N,800>   
<SMP_N,11>   
<PRESMP_N,3>   
<SKSMP_N,0>   
