<HOME_W,2609>  
<END_W,-2609>   
<SPEED_W,217>   
<ACC_W,217>   
<DEC_W,217>   
<SMP_W,24>
<PRESMP_W,1>
<SKSMP_W,0>

<HOME_I,1300>  
<END_I,-1300>   
<SPEED_I,200>   
<ACC_I,200>   
<DEC_I,200>   
<SMP_I,13>
<PRESMP_I,1>
<SKSMP_I,0>

<HOME_N,825>  
<END_N,-825>   
<SPEED_N,150>   
<ACC_N,150>   
<DEC_N,150>   
<SMP_N,11>
<PRESMP_N,1>
<SKSMP_N,0>

