VDAC + Combinazione scambio primari
<"V",3318,0,1>

Definizioni correnti utilizzate nel file
<"I","A","W","G",80,2141,0.444>
<"I","B","W","P",55,2113,0.255>

Corrente dedicata alla Tomografia
<"T","W",160,2284,0.677>
Definizioni Intervalli Fuoco Grande
<"M","W","G",0,3600,"A">

Definizioni Intervalli Fuoco Piccolo
<"M","W","P",0,2500,"B">

Definizioni Intervalli Starter
<"S","W","G",0,3600>

