VDAC + Combinazione scambio primari
<"V",3009,0,1>

Definizioni correnti utilizzate nel file
<"I","A","W","G",80,2144,0.443>
<"I","B","W","P",55,2120,0.256>

Corrente dedicata alla Tomografia
<"T","W",180,2325,0.664>
Definizioni Intervalli Fuoco Grande
<"M","W","G",0,3600,"A">

Definizioni Intervalli Fuoco Piccolo
<"M","W","P",0,2500,"B">

Definizioni Intervalli Starter
<"S","W","G",0,3600>

